$primaryColor: #409eff;
$successColor: #67c23a;
$warningColor: #e6a23c;
$dangerColor: #f56c6c;
$infoColor: #909399;
$white: #ffffff;
$black: #000000;
$textBaseColor: #5f6266;
$borderBaseColor: #dcdfe6;
$delicateColor: #8e8e93;

:export {
    default: $primaryColor;
    primary: $white;
    link: $primaryColor;
    ghost: $primaryColor;
    delicate: $delicateColor;
    primaryColor: $primaryColor;
    successColor: $successColor;
    warningColor: $warningColor;
    dangerColor: $dangerColor;
    delicateColor: $delicateColor;
    white: $white;
    black: $black;
}
